<div>


<div>
    <h1>register</h1>
    <input id="signup-username" type="text" name="username-input"/>
    <input id="signup-password" type="password" name="password-input"/>
    <button id="signup-submit">signup </button>
</div>
<div>
    <h1>login</h1>
    <input id="login-username" type="text" name="username-input"/>
    <input id="login-password" type="password" name="password-input"/>
    <button id="login-submit">login</button>
</div>
</div>
<script src="js/login.js"></script>